html {
  background-color: black;
}

body {
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

.header {
  padding: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#navbar {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: rgba(00, 00, 00, 0.9);
  text-align: center;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  text-decoration: underline;
}

.content {
  padding: 16px;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.sticky + .content {
  padding-top: 60px;
  text-align: center;
}

/* Text CSS */
h1 {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
}

ul {
  list-style-type: none;
}

table {
  text-align: left;
}

p {
  font-size: 1rem;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 0.75rem;
  }

  #navbar {
    visibility: hidden;
  }
}